<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context ="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd">

 
  <!-- this is our beans-->
 <bean class="com.springcore.Student" name="student1">
 
<!--  <property name="studentId">
 <value>12345</value>
 </property> -->
 
 <property name ="studentId" value ="12345" />
 
 <!--  <property name="studentName">
 <value>Sachin Soni</value>
 </property>
 -->
 
 <property name="studentName" value="Sachin Soni" />
 
 
 <!--  <property name="studentAddress">
 <value>Hoshiarpur</value>
 </property>
 -->
 
 <property name="studentAddress" value="Hoshiarpur" />
 
 </bean>
 
 <!-- second bean  -->
 
 <bean class="com.springcore.Student" name ="student2">
 
 <property name ="studentId" value="12346" />
 
 <property name="studentName" value="Rohan Soni" />
 
 <property name="studentAddress" value="Jalandhar" />
 </bean>
 
 
 <!-- this is our third bean -->
 
 <bean class="com.springcore.Student" name="student3" p:studentId="12347" p:studentName="Pawan Soni" p:studentAddress="Phagwara" />
 
 
</beans>